##Topic 3 - Python Structure & Data Type Assignment

# Data Type Declaration

1. > Create an empty variable (Points : 5)

In [3]:
var=None

2. > Create a variable containing your name (Points : 5)

In [5]:
name="Putri Beliani"
name

'Putri Beliani'

3. > Create a list of 5 items you can find in the classroom (Points : 5)

In [6]:
classroom=['Bag','Eraser','Pencil','Pen','chair']
classroom

['Bag', 'Eraser', 'Pencil', 'Pen', 'chair']

4. > Create a dictionary containing 2 keys and value (Points : 5)

In [7]:
fruits_dict={'Animals':['Cat','Dog'],'Colors':['Black','Pink']}
fruits_dict

{'Animals': ['Cat', 'Dog'], 'Colors': ['Black', 'Pink']}

# Basic Data Operation

You sold 20 pieces of electronics at the price of 12000. The customer gets a total discount of 10%.

Below are those variables:

1.   price=12000
2.   quantity_sold=20
3.   discount=10%


Using Python code, write the code the find the total money that the customer to pay. (Points : 15)

In [8]:
price=12000
quantity_sold=20
discount=0.1

pay=(1-discount)*(price*quantity_sold)
pay

216000.0

# List Data Operation

5. > Follow the instructions in the code blocks

In [9]:
# Create list of countries in the world (total 7 countries) (Points : 5)

countries=['Indonesia','South Korea','California','Las Vegas','Finlandia','Japan','Germany']
countries

['Indonesia',
 'South Korea',
 'California',
 'Las Vegas',
 'Finlandia',
 'Japan',
 'Germany']

In [12]:
# Get 4 countries from the first index of the list (Points : 5)

countries[0:4]

['Indonesia', 'South Korea', 'California', 'Las Vegas']

In [13]:
# Append new country to the list (Points : 5)

countries.append('Australia')
countries

['Indonesia',
 'South Korea',
 'California',
 'Las Vegas',
 'Finlandia',
 'Japan',
 'Germany',
 'Australia']

In [15]:
# Drop one country from the list (Points : 5)

countries.remove('Germany')
countries

['Indonesia',
 'South Korea',
 'California',
 'Las Vegas',
 'Finlandia',
 'Japan',
 'Australia']

In [16]:
# Get country in the last index (Points : 5)

countries[6]

'Australia'

# Dictionary Data Operation

6. >  Follow the instructions below

In [17]:
# Given the dictionary below

customer={
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
}

In [18]:
# Print all keys in customer (Points : 5)

dict.keys(customer)

dict_keys(['name', 'age', 'gender', 'membership'])

In [19]:
# Print all customer names (Points : 5)

customer['name']

['Dio', 'Eka', 'Wayu', 'Riki']

In [20]:
# Print the first customer name (Points : 5)

customer['name'][0]

'Dio'

In [21]:
# Drop "age" key from the dictionary (Points : 5)

del customer['age']
customer

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'],
 'gender': [1, 0, 0, 1],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}

In [22]:
# Replace customer gender list value (Points : 20)
# gender 1 => Male
# gender 0 => Female 


customer.update({'gender':['Male','Female','Female','Male']})

In [23]:
customer

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'],
 'gender': ['Male', 'Female', 'Female', 'Male'],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}